[2020-09-18 05:35] mohitgusain opened #1 "Glific header"
Glific header Design
![image](https://user-images.githubusercontent.com/30264862/93566749-22fdbe80-f9ab-11ea-9c39-a24c116b3e61.png)

[2020-09-18 05:35] mohitgusain opened #2 "Glific footer"
Design
![image](https://user-images.githubusercontent.com/30264862/93592388-b6e18180-f9cf-11ea-8ba1-9f72e3bd20d4.png)

[2020-09-18 11:30] mohitgusain opened #5 "Homepage Cover section"
Design

![image](https://user-images.githubusercontent.com/30264862/93592792-6dddfd00-f9d0-11ea-8ede-275675cc40fb.png)

[2020-09-18 14:55] abhi1203 opened #7 "Design fixes"
- [x] Can you change the formatting this way and the line height of the text as well
![image](https://user-images.githubusercontent.com/16714604/93612420-1a2ddc80-f9ed-11ea-9987-1a1ad0937a7f.png)

- [x] Correct the design file
1. overlapping text
2. managed solutions block without any space above
![image](https://user-images.githubusercontent.com/16714604/93612616-55301000-f9ed-11ea-9439-56344aa37

[2020-09-19 08:35] #7 closed

[2020-09-19 10:53] mohitgusain opened #8 "Homepage : Demo section"
Design
![image](https://user-images.githubusercontent.com/30264862/93671288-50d42780-fabf-11ea-87d9-21da014f483c.png)

[2020-09-19 10:54] mohitgusain opened #9 "Homepage: Why Glific section"
Design
![image](https://user-images.githubusercontent.com/30264862/93671271-3ac66700-fabf-11ea-88af-d6028415e3d3.png)

[2020-09-19 10:54] mohitgusain opened #10 "Homepage : Key Features Section"
Design
![image](https://user-images.githubusercontent.com/30264862/93686490-43756800-fad4-11ea-918f-ce137f12dffc.png)

[2020-09-20 06:40] kuldeep3 opened #14 "Get Started Subsection one"
![image](https://user-images.githubusercontent.com/37093310/93705368-49059900-fb3a-11ea-94ee-538fa38943fc.png)

[2020-09-20 10:10] kuldeep3 opened #16 "Get started subsection 2"
![image](https://user-images.githubusercontent.com/37093310/93708904-9ba17e00-fb57-11ea-9f1d-55fac155e6df.png)

[2020-09-20 12:01] mohitgusain opened #18 "Homepage :Early Adopters Section"
Design

![image](https://user-images.githubusercontent.com/30264862/93710843-29389a00-fb67-11ea-898d-bff06f650c57.png)

[2020-09-20 12:09] mohitgusain opened #20 "Homepage : Know more section"
Design
![image](https://user-images.githubusercontent.com/30264862/93710976-25594780-fb68-11ea-9171-1adec72ee578.png)

[2020-09-20 17:19] Satendra-SR opened #21 "Search Functionality in FAQ page"
- [x]  Add Search functionality in FAQ page.
- [x] There was some change that Is being discussed with Abhishek related to functionality.
    - [x] The search functionality will work on submitting the form.
    - [x] The search icon will go to the rightmost side and work as the submit button.

Designs:
https://www.sketch.com/s/a59f24ce-42ce-4488-bc8d-b52b7e47c00c/a/0bWbAj

----
### Updates:
There a

[2020-09-20 17:20] Satendra-SR opened #22 "Page FAQ"
- [x] Create a new page FAQ.
- [x] The page header should be dynamic from the dashboard.
- [x] The Faqs will have a collapsable view per the designs below.

### Note:
Exclude the search functionality, that will be handled in #21

https://www.sketch.com/s/a59f24ce-42ce-4488-bc8d-b52b7e47c00c/a/0bWbAj

[2020-09-21 06:31] bohraji opened #25 "Blog page - Single"
Single blog page designs to be added.
Needed by date - 22 September 2020

[2020-09-21 08:26] mohitgusain opened #26 "Homepage : Contact Form"
Design
![image](https://user-images.githubusercontent.com/30264862/93746084-2941a400-fc12-11ea-9366-24e9eec47db9.png)

[2020-09-21 09:34] wevekamola opened #27 "Contact page"
- [ ] Add caldera form support
- [ ] Create Page UI section

[2020-09-21 09:41] kuldeep3 opened #28 "Secondary section in mobile view"
These sections need to be added for mobile designs too
![image](https://user-images.githubusercontent.com/37093310/93752748-b853b980-fc1c-11ea-93c1-d378dcf831ee.png)

[2020-09-21 09:42] kuldeep3 opened #29 "Mobile view for secondary section - Get started Page"
![image](https://user-images.githubusercontent.com/37093310/93752875-e6d19480-fc1c-11ea-81ac-5e9dfcf306d1.png)

[2020-09-21 10:58] kuldeep3 opened #31 "Webinar Page"
![image](https://user-images.githubusercontent.com/37093310/93759238-7419e680-fc27-11ea-9689-4c1e3239e0ba.png)

[2020-09-21 10:59] mohitgusain opened #32 "Page: Features"
Design
![image](https://user-images.githubusercontent.com/30264862/93759288-8d229780-fc27-11ea-8201-7ad75103ccd2.png)

[2020-09-21 14:04] SunnaMalhotra commented on #28
Added this section and updated the sketch cloud

[2020-09-21 14:32] abhi1203 commented on #25
- [ ] Since we haven't used these white blocks in the main blogs page, can we remove from here also. that will keep it consistent
![image](https://user-images.githubusercontent.com/16714604/93778658-c1a44c80-fc43-11ea-8641-bc479b4a99a6.png)

- [ ] Please use sentence case
![image](https://user-images.githubusercontent.com/16714604/93778737-dc76c100-fc43-11ea-9a00-6f4ae27695d3.png)

- [ ] Align the

[2020-09-21 14:57] abhi1203 opened #33 "Relook the announcement section"
This isn't particularly working well. can you please try something else. maybe bringing the sugn up button closer to the text and then center aligning it.
![image](https://user-images.githubusercontent.com/16714604/93782940-c8818e00-fc48-11ea-88ba-935e5ef01c4e.png)

The spacing isn't sitting well
![image](https://user-images.githubusercontent.com/16714604/93783037-e51dc600-fc48-11ea-8298-ebbbecad7

[2020-09-21 16:23] Satendra-SR commented on #22
@bohraji this is ready for your testing. Please have a look.
https://glific.coloredcow.com/faq/

[2020-09-21 20:01] SunnaMalhotra commented on #33
Check Sketch cloud please, I made a few changes @abhi1203

[2020-09-22 05:41] mohitgusain opened #36 "Need to add video thumbnail in youtube"
1. For all the Glific demo's videos on  youtube need to add a thumbnail.

[2020-09-22 06:01] abhi1203 commented on #33
Maybe this:
![image](https://user-images.githubusercontent.com/16714604/93848417-2654bb00-fcc7-11ea-84ba-6026500ad575.png)

I mean the color can still be green for contrast

[2020-09-22 06:52] mohitgusain opened #39 "Homepage : Contact form"
Design
![image](https://user-images.githubusercontent.com/30264862/93851695-38862780-fcce-11ea-9e8a-a7e2ca32ca05.png)

[2020-09-22 06:53] mohitgusain commented on #39
This issue is related to this #27 issue.  It will come on the homepage after the contact page will have been deployed

[2020-09-22 07:05] mohitgusain opened #40 "Pricing page"
Design
![image](https://user-images.githubusercontent.com/30264862/93852672-1392b400-fcd0-11ea-98b9-39a579e475b7.png)

[2020-09-22 07:12] bohraji commented on #1
@mohitgusain the webinar announcement section is missing.
<img width="1289" alt="Screenshot 2020-09-22 at 12 41 35 PM" src="https://user-images.githubusercontent.com/12884297/93853189-06c29000-fcd1-11ea-822a-13baead35504.png">

[2020-09-22 07:15] #2 closed

[2020-09-22 07:16] #5 closed

[2020-09-22 07:17] bohraji commented on #8
@mohitgusain the play button is not as per the design.

<img width="1085" alt="Screenshot 2020-09-22 at 12 46 49 PM" src="https://user-images.githubusercontent.com/12884297/93853586-bac41b00-fcd1-11ea-9c72-e49a7863f616.png">

[2020-09-22 07:18] #9 closed, assigned to mohitgusain

[2020-09-22 07:19] bohraji commented on #10
@mohitgusain shadow at the end of the section is missing.

<img width="1396" alt="Screenshot 2020-09-22 at 12 49 05 PM" src="https://user-images.githubusercontent.com/12884297/93853761-17273a80-fcd2-11ea-9874-af65538f52e0.png">

[2020-09-22 07:22] bohraji commented on #18
@mohitgusain check the gap between heading and text on the desktop once, please.
<img width="1547" alt="Screenshot 2020-09-22 at 12 51 57 PM" src="https://user-images.githubusercontent.com/12884297/93853953-7be29500-fcd2-11ea-8df4-1ee75429ee74.png">

[2020-09-22 07:28] bohraji commented on #20
@mohitgusain check the feedbacks below-

- [x] The borders of the boxes are not as per the design.
<img width="1254" alt="Screenshot 2020-09-22 at 12 53 43 PM" src="https://user-images.githubusercontent.com/12884297/93854304-1c38b980-fcd3-11ea-99bd-2410dc2d5f1f.png">

- [x] The tablet view is not correct. Please check.
<img width="1188" alt="Screenshot 2020-09-22 at 12 55 12 PM" src="https://user-

[2020-09-22 09:43] mohitgusain commented on #36
Figure out the issue. Closing it

[2020-09-22 09:43] #36 closed, assigned to abhi1203

[2020-09-23 04:58] wevekamola opened #43 "SMTP Credentials for mails"
We need SMTP credetials for the website to send secure mails.

[2020-09-23 06:56] mohitgusain opened #44 "Header changes for resources link"
1. Need to make submenu for the Resources link

[2020-09-23 07:16] bohraji commented on #1
@mohitgusain additional feedback -
The shadow below the navbar is missing.
<img width="1316" alt="Screenshot 2020-09-23 at 12 45 19 PM" src="https://user-images.githubusercontent.com/12884297/93979252-ba438700-fd9a-11ea-8d67-3191c6d23f92.png">

[2020-09-23 07:23] bohraji commented on #14
@kuldeep3 check the feedbacks below -

- [ ] The shadow below the section header is missing.
<img width="1239" alt="Screenshot 2020-09-23 at 12 44 13 PM" src="https://user-images.githubusercontent.com/12884297/93979769-5b324200-fd9b-11ea-90fe-db6dead326ce.png">

- [x] Check if the section header needs to be `semi bold`

- [x] The content and alignment of button for the last section is off from the

[2020-09-23 07:24] mohitgusain opened #45 "About us page"
Design
![image](https://user-images.githubusercontent.com/30264862/93980178-e90e2d00-fd9b-11ea-9670-68b7a6905506.png)

[2020-09-23 07:25] bohraji commented on #16
@kuldeep3 check the feedbacks below -

- [x] Check the button text alignment and its width.
<img width="1147" alt="Screenshot 2020-09-23 at 12 43 20 PM" src="https://user-images.githubusercontent.com/12884297/93980152-e1e71f00-fd9b-11ea-9218-6345a9de8bde.png">

- [x] The buttons of the boxes should appear at the end on the same line for better asthetics.
<img width="1145" alt="Screenshot 2020-09-2

[2020-09-23 07:28] bohraji commented on #29
@kuldeep3 the button looks like they are of the same size. However, on the design, the button is of the same size.
<img width="420" alt="Screenshot 2020-09-23 at 12 56 47 PM" src="https://user-images.githubusercontent.com/12884297/93980631-7cdff900-fd9c-11ea-9cd5-ab25b3551efb.png">

[2020-09-23 07:55] bohraji commented on #40
Looking fine.

[2020-09-23 07:55] #40 closed, assigned to bohraji

[2020-09-23 08:24] bohraji commented on #32
@mohitgusain check the feedbacks below -

- [x] The padding of content inside the box is incorrect.
<img width="1513" alt="Screenshot 2020-09-23 at 1 28 51 PM" src="https://user-images.githubusercontent.com/12884297/93984362-54a6c900-fda1-11ea-9088-047ebd1d4a06.png">

- [x] Under the demo video section, the video title and `minute` label is missing. Also, check the font size.
<img width="1243" alt

[2020-09-23 08:33] bohraji commented on #27
@wevekamola check the feedbacks below -

- [x] Newsletter checkbox is missing.
<img width="1473" alt="Screenshot 2020-09-23 at 1 56 26 PM" src="https://user-images.githubusercontent.com/12884297/93987638-6e4a0f80-fda5-11ea-8a02-4469e830422f.png">

- [x] The input box border is not as per design. Please check.
<img width="1156" alt="Screenshot 2020-09-23 at 1 56 50 PM" src="https://user-images.gith

[2020-09-23 08:34] bohraji commented on #27
Also, no email was received on filling up the form

[2020-09-23 08:35] bohraji commented on #39
@mohitgusain this is now available on the website. Please update it.

[2020-09-23 08:43] bohraji opened #47 "Clarification on footer links"
@SunnaMalhotra @abhi1203 please provide details on the pages on these links in footer
<img width="1494" alt="Screenshot 2020-09-23 at 2 10 11 PM" src="https://user-images.githubusercontent.com/12884297/93988881-dd743380-fda6-11ea-9794-9726693b65f7.png">

[2020-09-23 08:48] bohraji commented on #22
@Satendra-SR this is fine. One observation -
The font colour is not as per the design of the FAQ content. Please check.
<img width="1254" alt="Screenshot 2020-09-23 at 2 16 18 PM" src="https://user-images.githubusercontent.com/12884297/93989535-a5b9bb80-fda7-11ea-848d-0e37737009dd.png">

[2020-09-23 08:53] bohraji opened #48 "Performance fixes for the the site"
<img width="1404" alt="Screenshot 2020-09-23 at 2 21 22 PM" src="https://user-images.githubusercontent.com/12884297/93990013-38f2f100-fda8-11ea-988b-e307922ef180.png">

[2020-09-23 16:51] kuldeep3 commented on #14
@bohraji Yes, the content for boxes, actually whole page content can be managed from the dashboard. Yes, we can add a new section similar to the above ones.

[2020-09-23 16:58] kuldeep3 commented on #14
@bohraji I think it might be `semi-bold`, but design says it's `regular`. Although it seems to be `semi-bold`, I will change it to `semi-bold`.
![image](https://user-images.githubusercontent.com/37093310/94044637-0965d800-fdec-11ea-8b4a-2bb23676527d.png)

[2020-09-23 17:18] kuldeep3 commented on #16
@bohraji Button placement in respect of each other looks good to me, suggestions are welcomed.
![image](https://user-images.githubusercontent.com/37093310/94046791-c78a6100-fdee-11ea-9f58-041a91d9b12e.png)

[2020-09-23 17:23] kuldeep3 commented on #29
@bohraji I think both the buttons would be of the same size, as it shows a pattern in the design, although in the design both buttons have variable width, for now, I am going with the same width to preserve the pattern. Let me know your thoughts on this.

[2020-09-24 05:42] mohitgusain commented on #8
@bohraji , Not found the exact solution to change the youtube play button styling. If possible can we target it later.

[2020-09-24 10:57] SunnaMalhotra commented on #47
How it works will be linked to How It works page on the Glific Website itself. Demo videos will be linked to our YouTube channel. Discussion Forum is supposed to be linked to our Discord but how to link and add that is still unclear to me. Case studies can be blank for now, we will add a link when we write a few case studies about the NGO's that are using the platform.

[2020-09-24 11:53] abhi1203 commented on #47
@SunnaMalhotra We also have a page for demo videos on website - can we link to that please?
@bohraji for discussion forum can we add the same discord link added to the icon here, or maybe we can remove since it's redundant
Yeah we dont have a case studies page right now

[2020-09-24 12:12] wevekamola opened #52 "Default image for posts"
We need to add a default image if the post doesn't have any featured image.

<img width="599" alt="Screenshot 2020-09-24 at 5 40 27 PM" src="https://user-images.githubusercontent.com/29367838/94143251-328a7500-fe8d-11ea-9d00-1b042085d891.png">

[2020-09-24 12:44] #20 closed, assigned to bohraji

[2020-09-24 12:45] bohraji commented on #8
Alright. Closing this for now.

[2020-09-24 12:45] #8 closed, assigned to bohraji

[2020-09-24 12:46] #10 closed, assigned to bohraji

[2020-09-24 12:47] #18 closed, assigned to bohraji

[2020-09-24 12:48] bohraji opened #53 "Add Catptcha to Glific Website forms"

[2020-09-24 12:50] #39 closed, assigned to bohraji

[2020-09-24 12:51] #1 closed

[2020-09-24 12:52] #32 closed, assigned to bohraji

[2020-09-24 12:54] bohraji commented on #45
Looks fine.
@SunnaMalhotra @abhi1203 please get the photographs of other team members and provide it here. You can use discord for ot

[2020-09-24 13:01] bohraji commented on #16
@kuldeep3 the current button alignment changes as per screen, which is not ideal. They both should appear together horizontally.

Check the contact us page once to see the button alignment.

[2020-09-24 13:03] bohraji commented on #14
@kuldeep3 the shadow of box title is still not correct. It only appears on the sides and not on the whole width.

[2020-09-24 13:06] bohraji commented on #29
@kuldeep3 all through the site, we have buttons of variable width as the content. Please fix here as well.

[2020-09-24 13:07] #31 closed, assigned to bohraji, kuldeep3

[2020-09-24 13:16] SunnaMalhotra commented on #52
I have uploaded an SVG and the PDF in the drive.
here is the Link to that folder.
https://drive.google.com/drive/folders/12U6Gw9bYgV2R9ciVyDB1mWaiS755-gF1?usp=sharing

[2020-09-24 13:18] SunnaMalhotra commented on #45
@bohraji I just checked, both Anshul and Dignesh don't have their pictures on discord

[2020-09-24 13:18] SunnaMalhotra commented on #45
and who else is to be added to the team?

[2020-09-24 13:19] bohraji commented on #45
@SunnaMalhotra we can ask them for the details. Also please add Sanjeev too.

[2020-09-24 13:20] bohraji commented on #25
Since the designs are done, closing the issue.

[2020-09-24 13:20] #25 closed, assigned to bohraji, abhi1203, SunnaMalhotra

[2020-09-24 13:21] SunnaMalhotra commented on #45
Sanjeev specifically asked to be removed from the teams page @bohraji

[2020-09-24 13:22] wevekamola opened #54 "Mail functionality is not working"
SMTP is not getting configured on the site. Need some research.

[2020-09-24 13:23] wevekamola commented on #27
@bohraji
- [x] **Newsletter checkbox is missing:** This has been removed after the disscsion with @abhi1203.
- [x] **The input box border is not as per design:** This is now updated as per the design
- [x] **Input label is incorrect:** This is now updated as per the design
- [x] **The button are of different sizes in design and are dependent on the content size**: This is now updated as per the de

[2020-09-24 13:24] bohraji commented on #47
@SunnaMalhotra Please provide the link to the how it works page. Unable to find it.

[2020-09-24 13:26] SunnaMalhotra commented on #47
Oh, I apologise. the page it will be connected to will be the Get started page. And 'how it works' in the footer will also be changed to 'get started'

[2020-09-24 13:31] SunnaMalhotra commented on #47
oh and @bohraji the demo videos link in the footer will take them to the demo video section on the features page. It's the topmost section on the features page.

[2020-09-25 07:57] wevekamola opened #57 "Blogs Page"
- Blog Page UI
- Show more Blog functionality
- Newsletter Form

[2020-09-25 13:36] bohraji commented on #28
Redundant issue. Closing.

[2020-09-25 13:36] #28 closed, assigned to kuldeep3

[2020-09-25 13:36] bohraji commented on #26
Completed. Closing.

[2020-09-25 13:36] #26 closed, assigned to nobody

[2020-09-25 13:48] #16 closed, assigned to bohraji, kuldeep3

[2020-09-25 13:48] #14 closed, assigned to bohraji, kuldeep3

[2020-09-25 13:48] #29 closed, assigned to bohraji, kuldeep3

[2020-09-25 13:51] bohraji opened #58 "Book a Demo Link"
@abhi1203 @SunnaMalhotra please share where the `Book a demo` page will lead the user to?

[2020-09-25 13:56] bohraji commented on #47
Summing up the discussion above  -

- [x] Rename `How it works` to `Get started`. Link to the related page.
- [x] Remove `Discussion Forum` and `Case Studies`
- [x] Link `Demo Videos` to `Features page`

[2020-09-25 14:27] abhi1203 opened #59 "Tides logo svg image"
![image](https://user-images.githubusercontent.com/16714604/94279089-44d9e100-ff69-11ea-8d13-af353a5eaf87.png)
@SunnaMalhotra can you also upload an svg image for tides on the drive and share it with mohit?

[2020-09-25 16:59] abhi1203 opened #60 "Gifs fixes"
- [ ] Let's not blur these images plus, let's show only one instead of a cluster of 4. im not sure if glific supports that. you can test this out before finalising
![image](https://user-images.githubusercontent.com/16714604/94294157-0b12d580-ff7d-11ea-8eb8-7fb029de764c.png)

- [ ] correct the text alignment in the button
![image](https://user-images.githubusercontent.com/16714604/94294223-254cb380

[2020-09-26 10:04] SunnaMalhotra commented on #60
https://drive.google.com/drive/folders/1UFE_oYbh766UGsihigF0mxiSPpkZKxv3?usp=sharing
Here all the 8 GIFs for the Features page. These GIFs are to be replaced with the images on that page.

[2020-09-27 06:36] wevekamola opened #65 "Navbar breaks after adding a new menu"
<img width="621" alt="Screenshot 2020-09-27 at 11 56 52 AM" src="https://user-images.githubusercontent.com/29367838/94357832-d8222c00-00b9-11eb-839f-71cfd7991e78.png">

[2020-09-27 09:35] #27 closed, assigned to bohraji

[2020-09-27 09:35] bohraji commented on #53
Closing issue for not. Will be added on other forms when going live.

[2020-09-27 09:35] #53 closed, assigned to bohraji

[2020-09-27 09:36] #47 closed, assigned to bohraji

[2020-09-28 06:27] wevekamola opened #67 "Single Blog Page"
- Single Page UI
- Social media Share
- Comment Box
- Recommend Reading

[2020-09-28 06:49] abhi1203 commented on #58
@bohraji im thinking we'll just collect their email ids for now? so maybe a popup asking for their name, ngo name and email id.
we can integrate a calendar for mark their times later.

[2020-09-29 04:59] wevekamola commented on #52
@bohraji This is completed. closing it

[2020-09-29 04:59] #52 closed, assigned to abhi1203, wevekamola, SunnaMalhotra

[2020-09-29 05:00] wevekamola commented on #57
@bohraji Ready for testing

[2020-09-29 05:00] wevekamola commented on #67
@bohraji Ready for testing

[2020-09-29 06:33] bohraji commented on #57
This is looking good.

[2020-09-29 06:41] bohraji commented on #57
@wevekamola one feedback on the newsletter form -

- [x] If the validation for the newsletter triggers error, then the UI breaks. Please check.
<img width="1118" alt="Screenshot 2020-09-29 at 12 00 47 PM" src="https://user-images.githubusercontent.com/12884297/94522214-e81e4500-024c-11eb-8531-8ca34069beec.png">

[2020-09-29 06:46] bohraji commented on #67
@wevekamola check the feedbacks from testing below. Most of the flow is working fine. Feedback are on the comments section.

- [x] Can we have a captcha on the form?

- [x] The form submits for the required field. Front end validation is missing.

- [x] Once the form submits with incomplete information, then we get an error page from WordPress.
<img width="1231" alt="Screenshot 2020-09-29 at 12 02

[2020-09-29 07:26] bohraji commented on #65
Closing this one. Fixes being tracked on #44

[2020-09-29 07:26] #65 closed, assigned to mohitgusain

[2020-09-29 07:29] bohraji opened #71 "Overall Platform Testing"
@SunnaMalhotra please have a look at the website once and share your inputs, if there are any changes that are required.
The website can be accessed here - https://glific.coloredcow.com/

[2020-09-29 08:28] bohraji commented on #58
@abhi1203 @SunnaMalhotra we will need the design of this popup. Please provide by tomorrow.

[2020-09-29 08:37] bohraji commented on #22
This is fine. Closing.

[2020-09-29 08:37] #22 closed, assigned to Satendra-SR

[2020-09-29 08:43] bohraji commented on #21
@Satendra-SR check the feedbacks below -

- [ ] Check with @abhi1203 if these would be a way to remove the filter once it has been added. I had to go back.
- [ ] The Search bar appears differently in different browsers. The border, radius, and alignments are off. Tested on chrome, safari and firefox.
<img width="1129" alt="Screenshot 2020-09-29 at 2 04 04 PM" src="https://user-images.githubusercon

[2020-09-29 10:18] SunnaMalhotra opened #72 "Platform Testing : Homepage (sunna)"
#71

[2020-09-29 10:21] SunnaMalhotra commented on #72
<img width="1419" alt="Screenshot 2020-09-29 at 3 48 06 PM" src="https://user-images.githubusercontent.com/71515238/94546280-48bc7a80-026b-11eb-95f5-0c82e9c3be09.png">
The announcement bar is a dynamic link, the text and the functionality of this bar depends on the what we wish to announce about Glific.

[2020-09-29 10:24] SunnaMalhotra commented on #72
### Announcement Bar
The Announcement bar is a dynamic link, the text and the functionality of this bar depends on the what we wish to announce about Glific.
<img width="1349" alt="Screenshot 2020-09-29 at 5 31 20 PM" src="https://user-images.githubusercontent.com/71515238/94555772-b53e7600-0279-11eb-9835-3cb02d9662cf.png">

- [ ] The **Sign up button** when clicked, takes us to the homepage. Ther

[2020-09-29 10:41] SunnaMalhotra commented on #72
### *** ( Important )
### TopBar Issues
Check the link to the TopBar menu symbol on the sketch document here - https://www.sketch.com/s/a59f24ce-42ce-4488-bc8d-b52b7e47c00c/a/GVd7JY
- [ ] 1. The **Glific Logo** in only the **Desktop version** is quite big, thus making the TopBar too thick.

<img width="1424" alt="Screenshot 2020-09-29 at 4 07 12 PM" src="https://user-images.githubusercontent.com/7

[2020-09-29 10:46] SunnaMalhotra commented on #58
Yes, I will work on that and share it @bohraji

[2020-09-29 10:57] SunnaMalhotra commented on #72
### *** ( Important )
### Button Placement and functions

- [ ] 1. The **Book a demo** and **Talk to us Buttons** in the **Tablet and Phone version** are supposed to be left aligned and one under the other. Please refer to the homepage on the Sketch cloud (https://www.sketch.com/s/a59f24ce-42ce-4488-bc8d-b52b7e47c00c/a/wgj4YA)
<img width="573" alt="Screenshot 2020-09-29 at 4 21 05 PM" src="https:/

[2020-09-29 11:06] SunnaMalhotra commented on #72
### Update Illustration on the Homepage
Please refer to the homepage on the Sketch cloud (https://www.sketch.com/s/a59f24ce-42ce-4488-bc8d-b52b7e47c00c/a/wgj4YA)

- [ ] 1.  Update Illustration for **Enable communications at scale** in the **Why Glific** section of the Homepage.
<img width="556" alt="Screenshot 2020-09-29 at 4 31 38 PM" src="https://user-images.githubusercontent.com/71515238/945504

[2020-09-29 11:12] SunnaMalhotra commented on #72
**Book a demo button** missing from the **TopBar in the Phone & Tablet version**

[2020-09-29 12:37] SunnaMalhotra commented on #72
### *** ( Important )
### Remove Button
- [ ] The **View all case studies button** in the **Early Adopters** section of the homepage is to be removed as we do not have any Case studies as of now.
<img width="476" alt="Screenshot 2020-09-29 at 6 00 01 PM" src="https://user-images.githubusercontent.com/71515238/94558618-b83b6580-027d-11eb-8ad2-d64c6bd53ab2.png">

[2020-09-29 12:44] SunnaMalhotra commented on #72
### Placement Issue in the section under Early adopters
Please refer to the homepage on the Sketch cloud (https://www.sketch.com/s/a59f24ce-42ce-4488-bc8d-b52b7e47c00c/a/wgj4YA)

- [ ] 1. Only in the **Tablet Version** the **Open Source section isn't consistent**.
<img width="917" alt="Screenshot 2020-09-29 at 6 06 46 PM" src="https://user-images.githubusercontent.com/71515238/94559553-0c931500-02

[2020-09-29 12:50] SunnaMalhotra commented on #72
### *** ( Important )
### Text correction in the Footer

- [ ] In the **Tablet and phone version** of the **footer**. There is a **single space before the word ColoredCow** thus making the text seem like it's not aligned within itself.
<img width="88" alt="Screenshot 2020-09-29 at 6 17 01 PM" src="https://user-images.githubusercontent.com/71515238/94560311-16694800-0280-11eb-838a-3934f6046051.png"

[2020-09-29 13:21] SunnaMalhotra opened #73 "Platform Testing: Features Page (sunna)"
#71

[2020-09-29 22:15] SunnaMalhotra commented on #73
### *** ( Important )
### Placement Issue in the Latest Demo Video Section
See the Features page on the Sketch cloud document here - https://www.sketch.com/s/a59f24ce-42ce-4488-bc8d-b52b7e47c00c/a/4z5pmx

- [x] 1. The other videos on the right side of this section are too clustered.
<img width="1053" alt="Screenshot 2020-09-30 at 3 36 03 AM" src="https://user-images.githubusercontent.com/71515238/

[2020-09-29 22:27] SunnaMalhotra commented on #73
### Spacing Issue in the Features section
See the features page on Sketch Document here-https://www.sketch.com/s/a59f24ce-42ce-4488-bc8d-b52b7e47c00c/a/4z5pmx

- [x] 1.  Top and bottom spacing in the features section in **Create groups both automatically and manually** is not equal. In the **tablet & desktop version**
<img width="475" alt="Screenshot 2020-09-30 at 3 52 30 AM" src="https://user-ima

[2020-09-29 22:31] SunnaMalhotra commented on #73
### *** ( Important )
#60

- [x] Update GIFs on the Features page.

Find all the 8 GIFs on the drive link here - https://drive.google.com/drive/folders/1UFE_oYbh766UGsihigF0mxiSPpkZKxv3?usp=sharing

<img width="247" alt="Screenshot 2020-09-30 at 3 57 41 AM" src="https://user-images.githubusercontent.com/71515238/94623165-3543fa80-02d1-11eb-89aa-5915e66a53cc.png">

[2020-09-29 22:36] SunnaMalhotra opened #74 "Platform Testing: Get started page (sunna)"
#71

[2020-09-29 22:43] SunnaMalhotra commented on #74
### Problem with the 03 pointer on Get started Page
check the Get Started page on the sketch cloud document here- https://www.sketch.com/s/a59f24ce-42ce-4488-bc8d-b52b7e47c00c/a/Ov3g98

- [x] 1. A bullet point is added to the 03 pointer on the get started page in all the versions of the website Phone, Tablet & Desktop.

<img width="721" alt="Screenshot 2020-09-30 at 4 06 26 AM" src="https://user-i

[2020-09-29 22:47] SunnaMalhotra commented on #74
### Re-allign the buttons in the last section if the Get started page

- [ ] The button placement isn't looking as well as I had anticipated. If possible, could these be left aligned to the text and then we can have equal spacing on left and right. Even in the sketch document it looks like this.

<img width="706" alt="Screenshot 2020-09-30 at 4 14 17 AM" src="https://user-images.githubusercontent.

[2020-09-29 22:50] SunnaMalhotra commented on #74
Text alignment issue in the 02 pointer on the Get started page
Check the Get started page on the sketch cloud here -https://www.sketch.com/s/a59f24ce-42ce-4488-bc8d-b52b7e47c00c/a/Ov3g98

- [x] 1. The **know mor**e text in green isn't left aligned with the text above in the first bullet pointer. In the **Phone version**

<img width="252" alt="Screenshot 2020-09-30 at 4 17 49 AM" src="https://user-

[2020-09-29 22:53] SunnaMalhotra commented on #74
### *** ( Important )
### The link needs to be updated/added

- [ ] 1. It shows page not found when the Docx link is clicked. @abhi1203 could you please provide the correct link

<img width="721" alt="Screenshot 2020-09-30 at 4 21 13 AM" src="https://user-images.githubusercontent.com/71515238/94624628-80134180-02d4-11eb-9971-db9f52cdc225.png">

- [x] 2. where would these links be redirected?
<img

[2020-09-29 22:56] SunnaMalhotra commented on #74
### Links for this section

@abhi1203, Where would these links be re-directed?
<img width="694" alt="Screenshot 2020-09-30 at 4 24 15 AM" src="https://user-images.githubusercontent.com/71515238/94624806-ebf5aa00-02d4-11eb-948e-e2e4794d5f3d.png">

[2020-09-29 22:59] SunnaMalhotra commented on #74
### *** ( Important )
- [x] This part from the last section of this page to be removed
 As we do not have any case studies as of now, we can remove this part

<img width="338" alt="Screenshot 2020-09-30 at 4 26 29 AM" src="https://user-images.githubusercontent.com/71515238/94624942-3bd47100-02d5-11eb-8f3c-0802a91ee775.png">

The **Want to know about the new features that are in the upcoming versio

[2020-09-29 23:09] SunnaMalhotra opened #75 "Platform Testing: Resources page (sunna)"
#71

[2020-09-29 23:13] SunnaMalhotra commented on #75
### Button Alignment in the single blog page
check the single blogs page on the sketch cloud here -https://www.sketch.com/s/a59f24ce-42ce-4488-bc8d-b52b7e47c00c/a/DRD2d4

- [ ] 1. The **Back to blogs** button isn't to be aligned to the text above in the **Phone & tablet** version

<img width="338" alt="Screenshot 2020-09-30 at 4 42 02 AM" src="https://user-images.githubusercontent.com/71515238/946

[2020-09-29 23:15] SunnaMalhotra commented on #75
- [x] **Leave a reply text** in that section is to be **replaced with Post a comment** and for it to be in the Glific Dark green colour.

- [x] **Company name text** to be changed to **organisation name**

<img width="902" alt="Screenshot 2020-09-30 at 4 43 43 AM" src="https://user-images.githubusercontent.com/71515238/94625967-a4245200-02d7-11eb-9d34-32ee1730939d.png">

[2020-09-29 23:22] SunnaMalhotra commented on #75
### Wrong button placement in the last section of the blogs page.
Check out the Blogs resources page on the sketch cloud document here- https://www.sketch.com/s/a59f24ce-42ce-4488-bc8d-b52b7e47c00c/a/mVgG8P

- [x] 1. the View Discord buttonis to be centre aligned with the View Github button in the **Tablet** version

<img width="628" alt="Screenshot 2020-09-30 at 4 46 09 AM" src="https://user-imag

[2020-09-29 23:25] SunnaMalhotra commented on #75
### *** ( Important )
### Spacing issue in the Sign up for newsletter section
Check out the Blogs resources page on the sketch cloud document here- https://www.sketch.com/s/a59f24ce-42ce-4488-bc8d-b52b7e47c00c/a/mVgG8P

- [x] 1. Similar issue in all the versions of the website Phone, tablet & desktop.
<img width="797" alt="Screenshot 2020-09-30 at 4 52 47 AM" src="https://user-images.githubusercon

[2020-09-29 23:33] SunnaMalhotra commented on #75
### *** ( Important )
### Problems with the Webinar Page
Check the webinar page on the sketch document here -https://www.sketch.com/s/a59f24ce-42ce-4488-bc8d-b52b7e47c00c/a/aK0lYv

- [x] The other videos on the Webinar page is very different from what the designs show. In the design aspect it is similar to the demo videos section on the features page.
<img width="872" alt="Screenshot 2020-09-30 at

[2020-09-29 23:36] SunnaMalhotra commented on #75
check the FAQ page on the sketch document here- https://www.sketch.com/s/a59f24ce-42ce-4488-bc8d-b52b7e47c00c/a/Aywodz

- [x] Problem with the Search bar in the FAQ page.
<img width="456" alt="Screenshot 2020-09-30 at 5 03 55 AM" src="https://user-images.githubusercontent.com/71515238/94627182-768cd800-02da-11eb-95a9-aa138a845401.png">

This is how it looks in the sketch document
<img width="287"

[2020-09-30 00:03] SunnaMalhotra commented on #45
Images have been sent to me by both of them and now can be updated on the website.
![Anshul](https://user-images.githubusercontent.com/71515238/94628702-4ba48300-02de-11eb-9e91-7268ecaca6cd.jpg)
![Ad](https://user-images.githubusercontent.com/71515238/94628713-565f1800-02de-11eb-8cde-80256a7303f3.jpg)

[2020-09-30 00:05] SunnaMalhotra commented on #59
https://drive.google.com/drive/folders/12U6Gw9bYgV2R9ciVyDB1mWaiS755-gF1?usp=sharing This is link to the drive where the tides SVG has been uploaded. The SVGs have been previously shared with Mohit as well.

[2020-09-30 00:06] #33 closed, assigned to SunnaMalhotra

[2020-09-30 07:00] Satendra-SR commented on #21
### Update:
1. Reduce padding to 16px.
2. Add a cross icon
3. Remove the search icon border, the button background will remain the same.

[2020-09-30 07:00] Satendra-SR commented on #21
@bohraji the changes are deployed. Please test.

[2020-09-30 07:41] Satendra-SR commented on #75
@bohraji @mohitgusain @SunnaMalhotra there was some discussion and changes in the FAQ page. I've listed all the changes in the related issue. Have a look here https://github.com/coloredcow-admin/glific-website/issues/21

[2020-09-30 07:52] SunnaMalhotra commented on #72
### Text change

- [ ] **Company name tex**t to be changed to **organisation name**

<img width="704" alt="Screenshot 2020-09-30 at 1 20 47 PM" src="https://user-images.githubusercontent.com/71515238/94658003-df4a7380-031f-11eb-976a-9cd43b2ee46a.png">

[2020-09-30 07:55] wevekamola commented on #75
@bohraji @SunnaMalhotra @mohitgusain

For the mentioned issue:

`Leave a reply text in that section is to be replaced with Post a comment`

As we are using the wordpress default comment box for publishing the comments on the single blog page. There has been some limitation. We can't change the title of the Comment box for now. I have already discussed it with the @abhi1203.

[2020-09-30 07:55] kuldeep3 commented on #74
@SunnaMalhotra The feedbacks looks good. I have a question on the bullet point, will there be no bullet point for the third section, as the other two sections have bullet point. What if there are more than three sections, will there be a bullet point for them or not?

[2020-09-30 07:56] mohitgusain commented on #72
@SunnaMalhotra , Announcement bar text and link both are dynamic and changeable from the dashboard. We don't have the link for google form that's why it is redirecting to the homepage. If you can provide that link, I can put it. Please let me know if any other way, I can help you to test this feature.

[2020-09-30 07:57] kuldeep3 commented on #75
@SunnaMalhotra To be clear about the webinar page, it only accepts `youtube links` for now. So, if there are no `youtube link` for the video, the video can't be visible on the page. Overall feedback looks good to me.

[2020-09-30 08:00] SunnaMalhotra commented on #74
Yes, there will be no bullet point in the third section. In the future if any more sections are added and they happen to have more than one pointer within them then we can add bullet points. @kuldeep3

[2020-09-30 08:03] SunnaMalhotra commented on #72
Oh alright!! I apologise I wasn't aware of that. Yes, I shall provide a link as soon as I get one. @mohitgusain

[2020-09-30 08:06] SunnaMalhotra commented on #75
Here is the Link to our first webinar- https://www.youtube.com/watch?v=jC5lUahxYKM&t=114s
Second webinar- https://www.youtube.com/watch?v=Z1vvASeLb0w

We can add these two videos for now and keep the rest empty. We will add more as they come along. @kuldeep3

[2020-09-30 08:26] SunnaMalhotra opened #79 "Platform testing: Contact page ( sunna )"
#71

[2020-09-30 08:27] SunnaMalhotra commented on #79
### Name change

- [ ] **Company name text** to be changed to **organisation name**

<img width="704" alt="Screenshot 2020-09-30 at 1 55 45 PM" src="https://user-images.githubusercontent.com/71515238/94661494-c1cbd880-0324-11eb-9c9f-5b0e15a40d5e.png">

[2020-09-30 08:43] SunnaMalhotra commented on #58
I have updated the Sketch cloud with the pop-up designs.
here is the cloud link: https://www.sketch.com/s/a59f24ce-42ce-4488-bc8d-b52b7e47c00c/a/qqdb7y. Designed for all three screen Phone, Tablet & Dekstop.

[2020-09-30 10:44] SunnaMalhotra commented on #72
### Problem in the links in the footer

- [ ] 1.The resources links of Blogs and webinar in the footer aren't linked to their respective links. when clicked they open the Homepage again.
- [ ] 2. The YouTube link isn't connected to our YouTube channel. It reloads the homepage.

<img width="222" alt="Screenshot 2020-09-30 at 4 12 53 PM" src="https://user-images.githubusercontent.com/71515238/946758

[2020-09-30 10:54] mohitgusain commented on #72
@SunnaMalhotra can you please provide the Youtube link, where it will redirect

[2020-09-30 10:59] SunnaMalhotra commented on #72
Glific's YouTube channel-https://www.youtube.com/channel/UCIJfQhrbJSCWQtzdI484nng
@mohitgusain

[2020-09-30 14:00] mohitgusain commented on #72
@SunnaMalhotra Your testing feedbacks implemented. Please have a look.

[2020-09-30 14:34] mohitgusain commented on #73
@SunnaMalhotra  Feedback implemented. Please have a look

[2020-09-30 14:41] mohitgusain commented on #74
@SunnaMalhotra This is ready for the test. Please have a look.

[2020-09-30 18:08] abhi1203 opened #83 "Feedback"
- [x] Can we please order the section as per the content order on homepage
![image](https://user-images.githubusercontent.com/16714604/94712432-1b54f700-0367-11eb-8dd3-dea1741833af.png)

- [x] Can we remove arrows when there's only one testimonial
![image](https://user-images.githubusercontent.com/16714604/94712532-3d4e7980-0367-11eb-9f56-9f536fdab350.png)

- [x] Small m in Know More
![image](http

[2020-10-01 04:09] #79 closed, assigned to SunnaMalhotra

[2020-10-01 04:12] SunnaMalhotra commented on #72
All the changes have been implemented and done except this one. We need to flip the image horizontally to fit the buttons better. @mohitgusain
<img width="350" alt="Screenshot 2020-10-01 at 9 40 27 AM" src="https://user-images.githubusercontent.com/71515238/94767572-59cfcd80-03ca-11eb-97fa-e018f13634f7.png">

[2020-10-01 06:05] mohitgusain commented on #72
@SunnaMalhotra , Image has been changed. Please have a look now

[2020-10-01 06:11] wevekamola commented on #67
@bohraji All the feedback is implemented. Ready to test.

[2020-10-01 06:11] wevekamola commented on #57
Ready to Test @bohraji

[2020-10-01 06:22] bohraji commented on #44
@mohitgusain the navbar is looking fine. However, on the mobile view, is it possible to open the submenu when clicking on the whole link rather than just the icon?

<img width="503" alt="Screenshot 2020-10-01 at 11 51 03 AM" src="https://user-images.githubusercontent.com/12884297/94775001-960c2980-03dc-11eb-9c18-07864ef22403.png">

[2020-10-01 06:23] bohraji commented on #57
This is looking fine.

[2020-10-01 06:23] #57 closed, assigned to wevekamola

[2020-10-01 06:28] bohraji commented on #67
@wevekamola all items are looking fine. The email field does not validate for type email. Can we add that?

[2020-10-01 06:31] mohitgusain commented on #75
@SunnaMalhotra This issue is ready for your testing. Please have a look

[2020-10-01 06:32] bohraji commented on #21
@Satendra-SR this is looking fine.

[2020-10-01 06:32] #21 closed, assigned to Satendra-SR

[2020-10-01 06:44] mohitgusain commented on #44
@bohraji We can make it for the resources page as the resources page does not have any link to the redirect. It will break in the future if we will add the submenus for any other link where the link will be present for that menu. In that case, the page will redirect to that link and will not open the submenu. Like if I will add the submenu for the features page, what action it will play, will open

[2020-10-01 08:54] SunnaMalhotra commented on #73
- [x] The images attached to the video title could be the same as they are on YouTube.

- [x] Fix the name of the Videos, both the main one and on the sides

- [x] Check the timestamps of the Video

- V0.3 - 5:47

- V0.2 - 5:30

- V0.1 - 5:55

<img width="888" alt="Screenshot 2020-10-01 at 2 18 25 PM" src="https://user-images.githubusercontent.com/71515238/94788571-61ef3380-03f1-11eb-98f7-d732490c

[2020-10-01 08:57] SunnaMalhotra commented on #74
Just the links that abhishek gave need to be added.

Let's use this link for facebook business verfication https://www.facebook.com/business/help/2058515294227817?id=180505742745347

and this one for gupshup account creation: https://www.gupshup.io/developer/home

@mohitgusain

[2020-10-01 08:58] SunnaMalhotra commented on #72
Yes, all changes in the homepage have been made

[2020-10-01 08:58] #72 closed, assigned to SunnaMalhotra

[2020-10-01 09:01] SunnaMalhotra commented on #75
- [ ] The webinar page need relevant titles, images and timestamps.

<img width="888" alt="Screenshot 2020-10-01 at 2 28 44 PM" src="https://user-images.githubusercontent.com/71515238/94789436-88fa3500-03f2-11eb-93cc-021393a91dba.png">

This is how it looks on YouTube
<img width="221" alt="Screenshot 2020-10-01 at 2 29 30 PM" src="https://user-images.githubusercontent.com/71515238/94789524-a465400

[2020-10-01 09:02] SunnaMalhotra commented on #75
- [ ] And the text in the buttons is in two lines. Its supposed to be in a single line. on the Blogs page

<img width="614" alt="Screenshot 2020-10-01 at 2 31 19 PM" src="https://user-images.githubusercontent.com/71515238/94789707-e4c4be00-03f2-11eb-8c7f-016221d7e5ea.png">

@mohitgusain @kuldeep3

[2020-10-01 09:06] SunnaMalhotra commented on #75
- [ ] Back to blogs button isn't aligned with the heading

<img width="386" alt="Screenshot 2020-10-01 at 2 35 08 PM" src="https://user-images.githubusercontent.com/71515238/94790079-6e748b80-03f3-11eb-9afa-c180560faa76.png">

@mohitgusain @kuldeep3

[2020-10-01 09:10] SunnaMalhotra opened #85 "Platform testing leftover fixes ( sunna )"
A few minor fixes left to do

[2020-10-01 09:11] mohitgusain commented on #73
@SunnaMalhotra The name and the time has been fixed. Have a look now

[2020-10-01 09:12] SunnaMalhotra commented on #85
Is there a better way to migrate the blog other than copy & pasting them from Chintu Gudiya to the Wordpress dashboard? @mohitgusain @kuldeep3

[2020-10-01 09:13] SunnaMalhotra commented on #85
I am not able to edit the Author in the dashboard. so how do I do that? cause on the website to shows up like this.

<img width="183" alt="Screenshot 2020-10-01 at 2 10 10 PM" src="https://user-images.githubusercontent.com/71515238/94790714-4cc7d400-03f4-11eb-9ce1-b698b3031d90.png">

[2020-10-01 09:14] SunnaMalhotra commented on #85
The in-text images are being stretched out on the website

<img width="652" alt="Screenshot 2020-10-01 at 2 39 52 PM" src="https://user-images.githubusercontent.com/71515238/94790579-168a5480-03f4-11eb-8b66-dd39ee5b3505.png">

[2020-10-01 09:16] mohitgusain commented on #74
@SunnaMalhotra these link has been updated now. Please have a look now

[2020-10-01 09:23] SunnaMalhotra commented on #73
Alright

[2020-10-01 09:23] #73 closed, assigned to SunnaMalhotra

[2020-10-01 11:15] SunnaMalhotra commented on #74
- [ ] The previous link to be changed to the text **See document** and a link for the doc is to be added to that text, so when the user clicks see document then the doc open up.
link- https://docs.google.com/document/d/1CQAFkDsktgk-2dUb_qOkeVZyLuObCyBql5wI3V3kT2E/edit

<img width="729" alt="Screenshot 2020-10-01 at 4 40 53 PM" src="https://user-images.githubusercontent.com/71515238/94802289-0038c4

[2020-10-01 15:11] bohraji commented on #58
This is looking fine. Closing.

[2020-10-01 15:11] #58 closed, assigned to bohraji

[2020-10-01 15:12] bohraji commented on #44
Alright. Let's go with this for now.

[2020-10-01 15:12] #44 closed, assigned to bohraji

[2020-10-02 06:36] mohitgusain commented on #45
@SunnaMalhotra, Can you please provide the resize version of this image, as they are bigger.

[2020-10-02 07:49] bohraji commented on #71
Closing the parent issue as there has been testing undertaken.

[2020-10-02 07:49] #71 closed, assigned to abhi1203, SunnaMalhotra

[2020-10-02 07:51] bohraji commented on #54
Duplicate of the https://github.com/coloredcow-admin/glific-website/issues/43
Closing.

[2020-10-02 07:51] #54 closed, assigned to nobody

[2020-10-02 10:59] SunnaMalhotra commented on #85
Images in this blog are stretched and I am not able to fix it.

<img width="1440" alt="Screenshot 2020-10-02 at 4 27 02 PM" src="https://user-images.githubusercontent.com/71515238/94916391-3bea9180-04cc-11eb-8900-3e68fb96f3cd.png">
 the Images are set to size in the dashboard but they appear like this in this blog
<img width="1440" alt="Screenshot 2020-10-02 at 4 28 01 PM" src="https://user-images

[2020-10-02 12:22] SunnaMalhotra commented on #85
- [x] **Add, the Glific Demo video 1 in this blog.**
Link- https://www.youtube.com/watch?v=6tQSLj2PIEQ
<img width="1438" alt="Screenshot 2020-10-02 at 5 50 31 PM" src="https://user-images.githubusercontent.com/71515238/94922462-e4eab980-04d7-11eb-9300-d6588732b449.png">

here is where the video will be added.
<img width="793" alt="Screenshot 2020-10-02 at 5 51 23 PM" src="https://user-images.githu

[2020-10-02 14:55] #74 closed, assigned to mohitgusain, kuldeep3, SunnaMalhotra

[2020-10-02 14:56] #75 closed, assigned to mohitgusain, kuldeep3, SunnaMalhotra

[2020-10-02 15:00] SunnaMalhotra commented on #85
- [x] **None of the blogs after the first show more button are clickable**
When you hover over them it doesn't allow you to click anything there, so those blogs aren't accessible.
<img width="1439" alt="Screenshot 2020-10-02 at 8 27 49 PM" src="https://user-images.githubusercontent.com/71515238/94937934-ddcea600-04ed-11eb-9997-8ad568b22002.png">

[2020-10-02 15:02] SunnaMalhotra commented on #85
- [x] This is what it shows as the author of every blog and not their respective authors. on the Wordpress dashboard, there is an option to select authors but not add new authors.

<img width="269" alt="Screenshot 2020-10-02 at 8 30 07 PM" src="https://user-images.githubusercontent.com/71515238/94938235-30a85d80-04ee-11eb-98f6-7fb8e480df1d.png">

[2020-10-02 16:33] SunnaMalhotra commented on #85
- [x] The back to blogs button is not aligned with the heading.

<img width="358" alt="Screenshot 2020-10-02 at 10 02 11 PM" src="https://user-images.githubusercontent.com/71515238/94947302-0d37df80-04fb-11eb-9440-49361b8103a6.png">

[2020-10-02 16:37] SunnaMalhotra commented on #85
- [x] **The area where you enter your email** and the send button to be **centre aligned to the entire block.**

<img width="1223" alt="Screenshot 2020-10-02 at 10 05 20 PM" src="https://user-images.githubusercontent.com/71515238/94947582-7d466580-04fb-11eb-91b2-d5f0d9869d3f.png">

[2020-10-02 16:42] SunnaMalhotra commented on #85
- [x] **Add a link to Tides on the About us page.**

Text -
**Tides is** the SaaS platform run by ColoredCow, they have not yet determined rates. Our initial guess is that for low volumes, it will be in the range of INR 7,500. For higher volumes, it will be a percentage of the messaging costs.

<img width="963" alt="Screenshot 2020-10-02 at 10 09 51 PM" src="https://user-images.githubusercontent.c

[2020-10-02 16:43] SunnaMalhotra commented on #85
- [x] **Hide** the **'What are users saying' section** **for now** as we do not have testimonials right now.

<img width="963" alt="Screenshot 2020-10-02 at 10 11 43 PM" src="https://user-images.githubusercontent.com/71515238/94948099-60f6f880-04fc-11eb-9930-c8690ad1c8b8.png">

[2020-10-02 16:46] SunnaMalhotra commented on #85
- [x] **Fix this illustration** on the **Why Glific section** on the homepage

<img width="322" alt="Screenshot 2020-10-02 at 10 15 31 PM" src="https://user-images.githubusercontent.com/71515238/94948412-ea0e2f80-04fc-11eb-98b2-c16df9297da5.png">

[2020-10-02 16:48] SunnaMalhotra commented on #85
- [x] This is all that shows up for the webinar page.

<img width="1440" alt="Screenshot 2020-10-02 at 10 17 14 PM" src="https://user-images.githubusercontent.com/71515238/94948568-26419000-04fd-11eb-840a-ea2304e53fdc.png">

[2020-10-02 16:51] SunnaMalhotra commented on #85
- [x] Update the Tides SVG to a bolder one on the homepage.

File- https://drive.google.com/file/d/13EtTV6L3OQwIYLSVLTbE_leHs7rDgZOd/view?usp=sharing

<img width="322" alt="Screenshot 2020-10-02 at 10 19 34 PM" src="https://user-images.githubusercontent.com/71515238/94948754-79b3de00-04fd-11eb-9280-3ae4002cca85.png">

[2020-10-02 16:54] SunnaMalhotra opened #87 "Platform testing : phone ( sunna )"
#85

[2020-10-02 16:57] SunnaMalhotra commented on #87
- [x] The TopBar alignment isn't correct on phone.**

- [x] The hamburger menu is too close too the book a demo button

![IMG_3961](https://user-images.githubusercontent.com/71515238/94949302-52a9dc00-04fe-11eb-90e1-3f63520ea41f.jpg)
This is how it looks on the Sketch file - https://www.sketch.com/s/a59f24ce-42ce-4488-bc8d-b52b7e47c00c/a/qq0jyV
**<img width="561" alt="Screenshot 2020-10-02 at 10 4

[2020-10-02 17:00] SunnaMalhotra commented on #87
- [x] Book a demo screen opens up on the left side of the screen.

- [x] There is no way to get out of this screen, so we could add a **Not now** text in grey on the right side of the book button

<img width="360" alt="Screenshot 2020-10-02 at 10 27 14 PM" src="https://user-images.githubusercontent.com/71515238/94949444-8c7ae280-04fe-11eb-8033-e0f499d04aec.png">

- [x] after I do manage to exit th

[2020-10-02 17:01] SunnaMalhotra commented on #87
- [ ] The talk to us button isn't clickable

<img width="360" alt="Screenshot 2020-10-02 at 10 29 56 PM" src="https://user-images.githubusercontent.com/71515238/94949666-ec718900-04fe-11eb-886e-1aac100565b1.png">

[2020-10-02 17:02] SunnaMalhotra commented on #87
- [ ] The resources text in the hamburger menu isn't expandable ( blogs, Webinar, FAQs ) or clickable.

<img width="360" alt="Screenshot 2020-10-02 at 10 30 44 PM" src="https://user-images.githubusercontent.com/71515238/94949734-090dc100-04ff-11eb-8120-d7370916ebec.png">
 Okay, so I managed to click it but I am guessing only the small arrow is clickable, can we make the entire text clickable.

[2020-10-02 17:06] SunnaMalhotra commented on #87
- [ ] The sign up for newsletter block has too much space at the bottom of the sign up button. the spacing should be equal on the top and bottom.

<img width="360" alt="Screenshot 2020-10-02 at 10 33 56 PM" src="https://user-images.githubusercontent.com/71515238/94950000-7c173780-04ff-11eb-99bf-1e216aa398fe.png">

[2020-10-02 17:10] SunnaMalhotra commented on #87
- [x] The screen looks fine on 360px, but on 320px a horizontal scroll gets added. So can we make it as equally equipped for 320px as it is for 360px. Basically, making it adjustable to different phone screen sizes as well, specially the smaller sizes.

- Every thing gets a little cut from the sides

- [ ] If possible can we have a 10px spacing from the left and right sides of the screen.

<img wi

[2020-10-02 17:13] SunnaMalhotra commented on #87
- [x] In 320px, there is a lot of white space on the right side of the screen but no white space on the left side . Probably because of horizontal scroll. we need to remove that.

<img width="340" alt="Screenshot 2020-10-02 at 10 40 56 PM" src="https://user-images.githubusercontent.com/71515238/94950572-766e2180-0500-11eb-965f-1f55f3c31257.png">

- [x] Book a demo opens up wonky here as well.

<im

[2020-10-03 13:21] mohitgusain commented on #83
@abhi1203 , This is ready for testing. Please have a look

[2020-10-03 14:51] SunnaMalhotra commented on #83
@mohitgusain I have checked all the boxes of the Issues that have been implemented, The ones that are left or overlapping with my issues have their check boxes empty.

[2020-10-03 14:57] SunnaMalhotra commented on #83
### Pending Issue

- [ ] For the replies comment it should say 'zyx replied to xyz'

<img width="1551" alt="Screenshot 2020-10-03 at 8 24 30 PM" src="https://user-images.githubusercontent.com/71515238/94994648-93652c00-05b6-11eb-9ba2-a1152c48cfb1.png">

[2020-10-03 15:00] SunnaMalhotra commented on #83
### Pending Issue

- [ ] Tides svg isn't looking right on safari
![94721601-c1a6f980-0373-11eb-8206-28faa8110882](https://user-images.githubusercontent.com/71515238/94994744-52b9e280-05b7-11eb-9693-b9d9ed1a1ce1.png)

[2020-10-03 15:40] #83 closed, assigned to abhi1203, mohitgusain

[2020-10-03 15:43] #60 closed, assigned to mohitgusain, SunnaMalhotra

[2020-10-03 15:43] #59 closed, assigned to SunnaMalhotra

[2020-10-03 15:44] #45 closed, assigned to SunnaMalhotra

[2020-10-04 08:06] mohitgusain commented on #85
@SunnaMalhotra , I think we need to update the blogs again on the new site. Let me have a look once here , and will let you , what we can do here

[2020-10-06 07:43] abhi1203 opened #88 "Blog page feedback"
Date is appearing in the blog url. can we remove that?
![image](https://user-images.githubusercontent.com/16714604/95172811-7ce8eb80-07d5-11eb-9629-fd2841b92197.png)

[2020-10-06 07:44] abhi1203 commented on #88
The blog links should be glific bright green color #119656
![image](https://user-images.githubusercontent.com/16714604/95173006-bc173c80-07d5-11eb-8fd5-4f3ee7726958.png)

[2020-10-06 07:46] abhi1203 commented on #88
can we remove this share buttons since it's already there on the right
![image](https://user-images.githubusercontent.com/16714604/95173216-01d40500-07d6-11eb-8ea4-3791635538dd.png)

these share buttons should scroll with the page till the comment section
![image](https://user-images.githubusercontent.com/16714604/95173268-12847b00-07d6-11eb-9e6e-52f79426f0c7.png)

[2020-10-06 08:49] mohitgusain commented on #85
@SunnaMalhotra I have updated the user to the blogs, can you  check the blog content again

[2020-10-06 08:51] mohitgusain opened #89 "Update blog authors from the default user."
1. Need to add authors for the blogs

[2020-10-06 08:55] mohitgusain opened #90 "Google Analytics Addition"
1. Need to add Google analytics for the Plugin

[2020-10-06 09:18] mohitgusain opened #91 "Captcha on forms"
1. Need to add Captcha on the production site for all the forms

[2020-10-06 09:44] bohraji opened #92 "Check Blog content on live site"
@mohitgusain please give a walkthrough to update the link color to Glific Green.

[2020-10-06 09:45] bohraji opened #93 "SEO - Yoast Optimisation"

[2020-10-06 11:47] wevekamola commented on #67
@bohraji @abhi1203 Guys as the site is hosted on the Wordpress hosting. They provide a feature called jetpack which overwrites the default comment section and all the functionality is also managed by them. On the production blog page, this has overwritten our UI changes.

<img width="1129" alt="Screenshot 2020-10-06 at 5 14 19 PM" src="https://user-images.githubusercontent.com/29367838/95197789-c3

[2020-10-06 12:46] abhi1203 commented on #67
@wevekamola this means we have to live with these unwanted changes? or is there a way around?

[2020-10-06 12:46] abhi1203 commented on #93
This is done.

[2020-10-06 12:46] #93 closed, assigned to abhi1203, SunnaMalhotra

[2020-10-06 13:26] abhi1203 opened #94 "Submit website for google ranking"
Yeost SEO is setup. @wevekamola can you help with submitting the website whenever we're ready with other things

[2020-10-06 13:57] #85 closed, assigned to SunnaMalhotra

[2020-10-06 13:57] #89 closed, assigned to SunnaMalhotra

[2020-10-06 15:02] mohitgusain commented on #48
@bohraji , i have taken the major steps to improve the performance, but it seems like this is something which also relies on the hosting which is dependent on the Jetpack plugin. Along with it there is youtube embedded video is loading that's why the page performance is slow

[2020-10-06 17:42] wevekamola commented on #67
@abhi1203 The workaround will be a bit tricky and will require a lot of effort to redesign the one we have on production as in UAT we don't have this issue. If the live site UI doesn't look too much out of space I'll recommend letting it be like this.

[2020-10-06 18:30] bohraji commented on #43
Create two accounts - info@glific.org and archive@glific.org
Use the info one to send emails

[2020-10-07 04:00] abhi1203 commented on #67
Sure, recommendation has been taken. @wevekamola thanks

[2020-10-07 05:35] mohitgusain commented on #90
@bohraji  Google analytics has been placed within the site Dashboard. We can check it by on clicking on the `Insights` menu from the dashboard. Here is the screenshot of the analytic so far.
![image](https://user-images.githubusercontent.com/30264862/95291373-fee81b80-088c-11eb-84cd-cf63e4f6340a.png)

[2020-10-07 06:38] wevekamola commented on #67
@abhi1203 Thanks.

[2020-10-07 12:21] mohitgusain opened #95 "Redirect all glific.* to glific.org"
Need to redirect  glific related  domain  to the glific.org

[2020-10-07 15:15] mohitgusain commented on #87
@SunnaMalhotra I have added the crossbar at the top of the modal to get out from it.

@SunnaMalhotra , it's a browser bahviour,once you will also click back to the screen. it goes away/

[2020-10-07 15:16] mohitgusain commented on #87
@SunnaMalhotra , this space is coming to the captcha , which is hidden in the form. We can remove it for now.

[2020-10-08 05:29] mohitgusain commented on #88
@abhi1203 , This is a bit complex to scroll it till the comment section. Secondly, these buttons also in the mobile are align in a different way and it will look like a broken. Can we keep it for now.

[2020-10-08 05:30] mohitgusain commented on #88
@abhi1203, This fixed in the UAT site. You can test it there

[2020-10-08 06:41] #87 closed, assigned to SunnaMalhotra

[2020-10-08 06:48] mohitgusain opened #97 "Transfer repository to Glific GitHub"

[2020-10-08 06:52] #88 closed, assigned to abhi1203

[2020-10-08 06:57] #92 closed, assigned to abhi1203, mohitgusain, SunnaMalhotra

[2020-10-08 09:05] bohraji commented on #95
Working now. Closing.

[2020-10-08 09:05] #95 closed, assigned to bohraji

[2020-10-08 09:07] bohraji commented on #43
@mohitgusain who is monitories these? Can you create a document with the link and credentials. We can hand them over to the Glific team

[2020-10-08 09:07] bohraji commented on #67
Closing.

[2020-10-08 09:07] #67 closed, assigned to bohraji, abhi1203

[2020-10-08 09:07] bohraji commented on #91
Closing

[2020-10-08 09:07] #91 closed, assigned to bohraji

[2020-10-08 09:07] bohraji commented on #48
Good for now. Closing.

[2020-10-08 09:07] #48 closed, assigned to bohraji

[2020-10-08 09:08] bohraji commented on #90
@mohitgusain please add the link to access the analytics and the account from which it can be accessed in the same document that is being added on #43

[2020-10-09 06:24] bohraji commented on #90
Closing this since it can be done from the same Wordpress dashboard.

[2020-10-09 06:24] #90 closed, assigned to mohitgusain

[2020-10-09 06:25] bohraji commented on #94
Closed due to inactivity on this issue.

[2020-10-09 06:25] #94 closed, assigned to wevekamola

[2020-10-09 06:26] bohraji commented on #43
@mohitgusain please share the link of the doc. If done, please close this issue out. Better not share the credentials publically

[2020-10-09 06:28] mohitgusain commented on #43
@bohraji , Yes credentials already shared with @SunnaMalhotra and @abhi1203 . Closing it now.

[2020-10-09 06:28] #43 closed, assigned to abhi1203, mohitgusain

[2020-10-10 07:09] #97 closed, assigned to mohitgusain

[2020-10-15 11:59] abhi1203 opened #98 "Need a dynamic text for announcement signup button on website"
![image](https://user-images.githubusercontent.com/16714604/96120275-e40c4b80-0f0b-11eb-989a-c080aac47902.png)

[2020-10-16 07:08] abhi1203 opened #99 "Need to add new features to the features page"
- [x] Simulator

- [x] Analytics and reporting with chatbase/bigquery

- [ ] google sheet integration

[2020-10-16 07:09] abhi1203 opened #100 "Update the get started information"
As per the document Lobo and I created

[2020-11-02 18:49] SunnaMalhotra commented on #99
This is the GIF for the Simulator.
Link- https://drive.google.com/file/d/1cb2ULpQp5YbXq2cPcCJKjVpWzuVxuDhK/view?usp=sharing

[2020-11-03 09:38] SunnaMalhotra commented on #99
This is the GIF for the Analytics feature.
Link- https://drive.google.com/file/d/1N4DLWHPGN8ZK_yzr9q_GMBnF-BgMRWMe/view?usp=sharing

[2020-11-03 09:57] SunnaMalhotra commented on #99
The design for the features.
Dekstop- https://www.sketch.com/s/a59f24ce-42ce-4488-bc8d-b52b7e47c00c/v/xK04Yx/a/4z5pmx/r/Lb43LQ
Tablet- https://www.sketch.com/s/a59f24ce-42ce-4488-bc8d-b52b7e47c00c/v/xK04Yx/a/JwKbqM/r/Lb43LQ
Phone- https://www.sketch.com/s/a59f24ce-42ce-4488-bc8d-b52b7e47c00c/v/xK04Yx/a/vPMqb1/r/Lb43LQ

[2020-11-03 10:41] SunnaMalhotra commented on #99
The GIF for google sheet integration to make automated flows.https://drive.google.com/file/d/1NvGrhIJHpZk7VvJM1HXhqm5DprGcl01e/view?usp=sharing

[2020-11-23 12:27] abhi1203 commented on #99
This is done.. closing.

[2020-11-23 12:27] #99 closed, assigned to abhi1203, SunnaMalhotra

[2020-11-27 13:28] abhi1203 opened #101 "logos should appear as aligned vertically middle"
![image](https://user-images.githubusercontent.com/16714604/100437093-4721fe00-30c6-11eb-8372-f902f18d5fb1.png)

[2021-05-12 10:27] abhi1203 opened #107 "Website performance updates"
**Describe the bug**
Glific website performance is showing up low ratings on Lighthouse and other measurement tools

**To Reproduce**
Steps to reproduce the behavior:
1. Run the Lighthouse report on Glific website

**Expected behavior**
We should be above 90% there

**Screenshots**
![image](https://user-images.githubusercontent.com/16714604/117960527-b3be4b80-b33a-11eb-910e-426903cb4da7.png)

[2021-05-31 08:18] abhi1203 opened #106 "Update Get started page"
**Describe the task**
https://www.sketch.com/s/644ba5d1-a153-459d-828e-98bd8032cc35/p/23737358-2C03-4D99-BE57-62A8B9335071

[2021-05-31 13:31] abhi1203 opened #105 "Newsletter page on Glific website"
**Describe the task**
Designs: https://www.sketch.com/s/644ba5d1-a153-459d-828e-98bd8032cc35/a/WK4Wzz2

[2021-08-16 10:28] abhi1203 opened #109 "Add featured section on website"
Design here:
https://www.sketch.com/s/644ba5d1-a153-459d-828e-98bd8032cc35/a/Qb0DdD1

Links for each are:
https://www.indiaspora.org/how-glific-helps-ngos-scale-two-way-communication/
https://yourstory.com/socialstory/2021/08/glific-open-source-platform-ngo-whatsapp-chatbots/amp
https://nextbillion.net/community-connectivity-pandemic-technology-information-dissemination-behaviour-change/

[2021-08-17 08:00] abhi1203 opened #110 "Logos on website"
Logos on the website doesn't look clear. That's because the size keeps squeezing as we add more.
Is there a way we can set the width of the image from the dashboard? The next best way might be to have max width=130px and max height=80px. whichever is met first based on whether it is a horizontal or vertical logo.
And the logos should wrap into the next row automatically.

![image](https://user-ima

[2021-08-20 07:30] abhi1203 commented on #110
@mdshamoon can we align the logos a bit bbetter
![image](https://user-images.githubusercontent.com/16714604/130196843-60aa3b8f-7db1-40da-89ed-05c64fca7574.png)

[2021-12-01 07:15] mdshamoon commented on #106
This is updated. Closing.

[2021-12-01 07:15] #106 closed, assigned to mdshamoon

[2022-02-15 12:23] wevekamola commented on #110
@mdshamoon Let's add a carousel as well for the logos, we have 36 NGOs so far registered but only 19 are being shown.

@abhi1203 you might need to design a mockup for this

[2022-08-04 08:26] Ranjana-G opened #111 "Glific Pricing Page - 1000 conversations free from WABA are not accounted for"
Try :

Cost calculator
No. of end-users reached:1000
No. of days you want to talk to the users**:4
No. of messages in a day(average):10
Your total monthly messages:40000
Your total message cost:INR 2800
Your total conversations cost(at an avg rate of 40p):INR 1600

So .....
Total conversations are 4000
Conversation cost is INR 4000x0.04 It should consider INR value as 3000x0.04

[2022-08-05 02:42] pankaj-ag commented on #111
@abhi1203 @mdshamoon this looks critical. You can check here.

[2022-08-05 04:33] abhi1203 commented on #111
Maybe we just need to another line item for free conv here
<img width="813" alt="image" src="https://user-images.githubusercontent.com/16714604/183002049-1e51d430-a4ec-4dc3-bea0-6d3e9a5e66e2.png">

[2022-08-09 07:41] Ranjana-G opened #112 "Webinar Page on the website"
1) The dropdown menu should be Upcoming Webinars or Upcoming Events instead of the current "Webinar".

It should have information on Planned webinars  on the top of top the page and below that the a few previous recordings - in chronological order. And/ Or a pointer to youtube channel . The more recent the better.

Benefits of the page - UTM parameters added when sharing the Webinar links on vario

[2022-10-05 05:10] David-Lazaro-Fernandez opened #113 "Resources button is hard to tap on mobile view"
**Describe the bug**
Hello team 😄👋
I was taking a look at the project web page in a mobile view 📱

When I was exploring the pages I noticed that the button of  **"Resources"** in the pages menu wasn't working. Or that was what I thought until I used another device to take a closer look at that.

The button works but it is really hard to make it display its content, I managed to open the menu after

[2022-11-21 11:29] abhi1203 opened #114 "Update team page on Glific website"
Since it's been a while.

@dlobo should we do a list of all contributors who contributed earlier but not a part of the team now?